body{
    background-color: rgb(whitesmoke, white);
    margin-left: 5%;
    margin-right: 5%;
    color:black;
    size: 12%;

}
h1{
    text-align: center;
    size: 2cap; 
}
p, ul{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 25px;;
}

footer{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}


.carousel {
    width: 80%;
    overflow: hidden;
    position: relative;
  
}
.carousel-inner {
    display:flex;
    transition: transform 0.5s ease-in-out;
   
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    
}
.carousel-item img {
    width: 100%;
    display: block;
    margin: auto;
    
}
.carousel-item .text {
    position: relative;
    bottom: 20px;
    left: 20px;
    background-color:gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.buttons button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
