*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
footer{
    text-align: center;

}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px white;
    color: black;

}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 1px;
}
body{
    background-color: white;
}
header{
    background-color: whitesmoke;
    color: white;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 25px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: white;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    font-weight: bold;

}
.banner{
    background:url(../img/porsches.jpeg) no-repeat center/cover;
    height: 400px;
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 5px 5px 5px white;

}


@media (max-width:675px) {
    header .container{
        flex-direction: column;
        text-align: center;

    }
    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }
    .banner{
        margin-top: 160px;
    }
}

img{
    display: block;
    margin: 0;
    margin-top: auto;
}
.photo-scroll {
    display: flex;
    overflow-x: scroll;
    width: 80%;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.photo-scroll img {
    max-height: 300px;
    margin-right: 10px;
    border-radius: 10px;
}